scikit-learn
scikit-optimize
matplotlib
python-box
pyYAML
tqdm
pydantic
pydantic-settings
ensure
joblib
types-PyYAML
fastapi
uvicorn
xgboost
seaborn
Pillow
streamlit
docker
statsmodels
numpy
pandas
imblearn
google-genai
groq
openai
streamlit
redis
openpyxl
tabulate
faiss-cpu
huggingface_hub
sentence-transformers
langchain
langgraph
-e .